@page "/CommitsTotal"
@inject HttpClient Http
<PageTitle>Total Commits</PageTitle>

@if (repo == null)
{
    <p> <em>Loading...</em> </p>
}
else
{
    <p>Total Commits per Day:</p>
    <RadzenChart style="width: 600px; height: 350px;">
        <RadzenColumnSeries Data="@repo.comday" CategoryProperty="Item2" ValueProperty="Item1" StrokeWidth="5" />
        <RadzenLegend Visible="false" />
        <RadzenColumnOptions Margin="50" Width="10" />
        <RadzenValueAxis Min="0" Max="15" Step="1">
            <RadzenGridLines Visible="true" />
        </RadzenValueAxis>
        <RadzenCategoryAxis Padding="35" />
    </RadzenChart>
}

@code {
    private TotalCommits? repo;

    protected override async Task OnInitializedAsync()
    {
        repo = await Http.GetFromJsonAsync<TotalCommits>("https://localhost:5001/" + Index.currRepo + "/commitstotal");
    }

    private class TotalCommits
    {
        public List<commit>? comday { get; set; }

        public class commit
        {
            public int? Item1 { get; set; }
            public DateTime Item2 { get; set; }
        }
    }
}