@page "/CommitsForks"
@inject HttpClient Http
<PageTitle>Repository Forks</PageTitle>

@if (_repo == null)
{
    <p> <em>Loading...</em> </p>
}
else
{
    <p>Forks List:</p>
    <RadzenDataGrid Data="@_repo.forklist" style="width:400px;">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="string" Title="#" TextAlign="TextAlign.Center">
                <Template Context="data">
                    @(_repo.forklist!.IndexOf(data) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="string" Property="string" Title="Repository"/>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private ForksList? _repo;

    protected override async Task OnInitializedAsync()
    {
        _repo = await Http.GetFromJsonAsync<ForksList>("https://localhost:5001/" + Index.currRepo + "/forks");
    }

    private class ForksList
    {
        public List<string>? forklist { get; set; }
    }
}
