@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (repositories == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>We loaded something!</p>
    @*
    @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    *@
}

@code {
    private Repository[]? repositories;

    protected override async Task OnInitializedAsync()
    {
        repositories = await Http.GetFromJsonAsync<Repository[]>(Index.UrlInput);
    }

    public class Repository
    {
        IEnumerable<Author> authors { get; set; } = null!;

        public class Author
        {
            string Name { get; set; } = null!;
            IEnumerable<DateTime> commits { get; set; } = null!;
        }




    }

}
