@page "/"
@inject HttpClient Http
@inject NavigationManager NavManager;
<PageTitle>GitInsight</PageTitle>

<label for="GitURLInput" > <h1>Enter Git URL</h1> </label>
<br/>
<input type="text" @bind="@UrlInput" @oninput="@(intext => { UrlInput = (string) intext.Value!;})" placeholder="{user}/{repository}" id="GitURLInput" >
<button @onclick="SearchGit">Search</button>
<br/>
<br/>
<b>Current Input: </b> <p> @UrlInput </p>

@if(currRepo != null)
{
    <p> Current chosen Repository: @currRepo</p>
}

@code {
    public static string currRepo;
    public static string UrlInput = "";

    public void SearchGit()
    {
        currRepo = UrlInput;
    }
}